body {
    font-family: monospace;
}

ul {
    font-family: helvetica;
}

li {
    list-style: circle;
  }
  
.list {
    list-style: circle;
  }
  
#msg {
    font-family: monospace;
  }
