body {
    font-family: monospace;
}

ul {
    font-family: arial;
}

li {
    list-style: circle;
  }
  
.list {
    list-style: circle;
  }
  
#mesaj {
    font-family: monospace;
  }
